<div class="my-2 d-flex justify-content-between">
	<div class="fw-bold">Ventas</div>
</div>

<div class="card p-2">
	<div class="card-header bg-white">
		<div class="d-flex justify-content-between">
			<span class="align-self-center fw-bold">Informacion</span>
			<div class="d-flex flex-row-reverse bd-highlight">
				<div class="btn-group">
					<button type="button"
						class="btn btn-white text-dark p-0">
						<svg xmlns="http://www.w3.org/2000/svg"
							width="22"
							height="22"
							fill="currentColor"
							class="bi bi-plus-lg"
							viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive-sm">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Column 1</th>
						<th scope="col">Column 2</th>
						<th scope="col">Column 3</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>R1C1</td>
						<td>R1C2</td>
						<td>R1C3</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
