<div class="my-2 d-flex justify-content-between">
	<div class="fw-bold">
		<svg (click)="this.location.back();"
			xmlns="http://www.w3.org/2000/svg"
			width="22"
			height="22"
			fill="currentColor"
			class="bi bi-box-arrow-left mb-2 mr-2"
			viewBox="0 0 16 16">
			<path fill-rule="evenodd"
				d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"></path>
			<path fill-rule="evenodd"
				d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"></path>
		</svg>
		Productos
	</div>
</div>

<form #ngForm="ngForm"
	[formGroup]="this.form"
	(ngSubmit)="this.save();"
	role="form">
	<div class="card p-2 mt-2">
		<div class="card-header bg-white p-1">
			<div class="d-flex justify-content-between">
				<span class="align-self-center fw-bold">Informacion</span>
				<div class="d-flex flex-row-reverse bd-highlight">
					<div class="btn-group">
						<button type="submit"
							class="btn btn-dark btn-sm m-1">
							Guardar
						</button>
						<button (click)="this.location.back();"
							type="button"
							class="btn btn-secondary btn-sm m-1">
							Cancelar
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-lg-3">
					<label for="inputState"
						class="form-label text-dark">
						producto
					</label>
					<input type="text"
						class="form-control form-control-sm"
						placeholder="Ingresar El nombre del producto"
						formControlName="product">
					<div *ngIf="getControl('product').invalid && ngForm.submitted"
						class="text-left">
						<label class="text-danger text-xs">
							Producto es requerido o invalido
						</label>
					</div>
				</div>
				<div class="col-lg-3">
					<label for="inputState"
						class="form-label text-dark">
						Marca
					</label>
					<input type="text"
						class="form-control form-control-sm"
						placeholder="Ingresa la marca"
						formControlName="brand">
					<div *ngIf="getControl('brand').invalid && ngForm.submitted"
						class="text-left">
						<label class="text-danger text-xs">
							Marca es requerido o invalido
						</label>
					</div>
				</div>
				<div class="col-lg-3">
					<label for="inputState"
						class="form-label text-dark">
						Modelo
					</label>
					<input type="text"
						class="form-control form-control-sm"
						placeholder="Ingresar El Modelo"
						formControlName="model">
					<div *ngIf="getControl('model').invalid && ngForm.submitted"
						class="text-left">
						<label class="text-danger text-xs">
							Modelo es requerido o invalido
						</label>
					</div>
				</div>
				<div class="col-lg-3">
					<label for="inputState"
						class="form-label text-dark">
						Referencia
					</label>
					<input type="text"
						class="form-control form-control-sm"
						placeholder="Ingresa la referencia"
						formControlName="reference">
					<div *ngIf="getControl('reference').invalid && ngForm.submitted"
						class="text-left">
						<label class="text-danger text-xs">
							Referencia es requerido o invalido
						</label>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-lg-3">
					<label for="inputState"
						class="form-label text-dark">
						Cantidad
					</label>
					<input type="number"
						class="form-control form-control-sm"
						placeholder="Ingresa la cantidad"
						formControlName="quantity">
					<div *ngIf="getControl('quantity').invalid && ngForm.submitted"
						class="text-left">
						<label class="text-danger text-xs">
							Cantidad es requerido o invalido
						</label>
					</div>
				</div>
				<div class="col-lg-3">
					<label for="inputState"
						class="form-label text-dark">
						Precio
					</label>
					<input type="number"
						class="form-control form-control-sm"
						placeholder="Ingresar El Precio"
						formControlName="price">
					<div *ngIf="getControl('price').invalid && ngForm.submitted"
						class="text-left">
						<label class="text-danger text-xs">
							Precio es requerido o invalido
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

</form>
