<div class="card p-2">
	<div class="card-header bg-white">
		<div class="d-flex justify-content-between">
			<span class="align-self-center fw-bold">Informacion</span>
			<div class="d-flex flex-row-reverse bd-highlight">
				<div>
					<button type="submit"
						class="btn btn-dark text-white mr-2">
						Guardar
					</button>
					<button type="button"
						class="btn btn-secondary text-white" (click)="location.back()">
						Cancelar
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-4">
				<label for
					class="form-label">
					Nombre
				</label>
				<input type="text"
					class="form-control"
					placeholder="Ingresa el Nombre de la Marca">
			</div>
			<div class="col-lg-4">
				<label for
					class="form-label">
					Imagen
				</label>
				<input type="text"
					class="form-control"
					placeholder="Ingresa el Nombre de la Marca">
			</div>
		</div>
	</div>
</div>
